<app-header titulo="action sheet"></app-header>
<!--<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button
      defaultHref="/" text="Regresar"
      color="primary"
      mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-padding">
  <ion-button (click)="onClick()" expand="block" >
  Mostrar action-sheet
  </ion-button>

  <ion-button id="open-action-sheet">Open</ion-button>
<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-content>
  